p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "Times New Roman", Sans-Serif;
  color: grey;
  text-align: right;
}

.milk-text {
  color: gray;
  font-family: Georgia, "Times New Roman", Sans-Serif;
  text-shadow: 0 2px 3px #000; 
}

#logo {
  background: aqua;
}

#logo h1 {
  font-family: Georgia, "Times New Roman", Sans-Serif;

}

#logo h2 {
    font-family: Georgia, "Times New Roman", Sans-Serif;

}
